@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu|Kalam");

body {
  padding: 0%;
  margin: 0%;
  font-family: "Condensed";
}
h1, h3{
    font-family: "Righteous"
}