<p>Add a review </p>
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errors.length">
  <small class="text-danger" *ngFor="let error of errors">{{error.error}}</small>
</div>
<form (submit)="onSubmit($event, reviewForm)" #reviewForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter name" [(ngModel)]="review.name" required>
  </div>
  <div class="form-group">
    <label for="name">Stars</label>
    <input type="number" class="form-control" name="star" [(ngModel)]="review.star" required>
  </div>
  <div class="form-group">
    <label for="position">Content</label>
    <input type="text" class="form-control" name="content" placeholder="Enter content" [(ngModel)]="review.content"
      required>
  </div>
  <button type="submit" [disabled]="reviewForm.invalid" class="btn btn-success">Add Review</button>
</form>
