<!-- The content below is only a placeholder and can be replaced. -->
<div class="container">
  <h1>Restful Tasks API</h1>
  <button (click)="getTasksFromService()" id="btn-task">Get All Tasks</button>
  <table *ngIf="tasks.length > 0">
    <tr>
      <th>Task</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let task of tasks">
      <td>{{task.title}}</td>
      <td><button id="btn-show" (click)="getTaskDetail(task._id)">Show</button></td>
    </tr>
  </table>
  <app-task [task]='selectedTask'></app-task>
</div>
