<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Star Wars Wiki - API Assignment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        #main {
            margin: auto;
        }

    </style>
</head>

<body>
    <div class="container">
        <h1 class="mt-4 text-center">Star Wars Wiki</h1>
        <h6 class="text-center">What would you like to know more about?</h6>
        <div class="d-flex justify-content-between w-25 my-4" id="main">
            <button class="btn btn-primary" id="people">People</button>
            <button class="btn btn-primary" id="planet">Planets</button>
        </div>
        <div class="w-25" id="main">
            <div id="result"></div>
        </div>
        <div class="d-flex justify-content-between w-25 my-4" id="main">
            <button class="btn btn-secondary" id="prev" hidden>Prev 10</button>
            <button class="btn btn-secondary" id="get_all_planets" hidden>Get All</button>
            <button class="btn btn-secondary" id="get_all_people" hidden>Get All</button>
            <button class="btn btn-secondary" id="next" hidden>Next 10</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $.noConflict();
        $(document).ready(function () {
            let search;
            //Create elements to insert into html page. 
            const displays = (data, ele) => {
                $('#get_all').removeAttr('hidden');

                if (data.next !== null) {
                    $('#next').removeAttr('hidden');
                } else {
                    $('#next').attr('hidden', 'hidden');
                }
                if (data.previous !== null) {
                    $('#prev').removeAttr('hidden');
                } else {
                    $('#prev').attr('hidden', 'hidden');
                }
                let element = [];
                for (let i = 0; i < data.results.length; i++) {
                    element = element.concat(`<p>${data.results[i].name}</p>`);
                }
                $(`#${ele}`).html(element);
            };

            $('#people').click(function () {
                search = '/people/0';
                $('#get_all_people').removeAttr('hidden');
                $('#get_all_planets').attr('hidden', 'hidden');
                $.ajax({
                    url: search,
                    dataType: 'json',
                    success: (data) => {
                        console.log(data)
                        let result = data;
                        console.log(result.next)
                        displays(result, "result");
                    }
                })
            });

            $('#planet').click(function () {
                search = '/planets/0';
                $('#get_all_planets').removeAttr('hidden');
                $('#get_all_people').attr('hidden', 'hidden');
                $.ajax({
                    url: search,
                    dataType: 'json',
                    success: (data) => {
                        displays(data, "result");
                    }
                })
            });

            $('#next').click(function () {
                console.log("clicking next");
                $.ajax({
                    url: '/next',
                    dataType: 'json',
                    success: (data) => {
                        displays(data, "result");

                    }
                })
            });
            $('#prev').click(function () {
                console.log("clicking previous");
                $.ajax({
                    url: '/prev',
                    dataType: 'json',
                    success: (data) => {
                        displays(data, "result");
                    }
                })
            });

            $('#get_all').click(function () {
                $.ajax({
                    url: `/all/planets`,
                    dataType: 'json',
                    success: (data) => {
                        console.log(data);
                        displays(data, "result");
                    }
                })

            });
            $('#get_all_people').click(function () {
                $.ajax({
                    url: `/all/people`,
                    dataType: 'json',
                    success: (data) => {
                        console.log(data);
                        displays(data, "result");
                    }
                })
            });

        });
    </script>
</body>

</html>
