<div class="container my-3">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errors.length">
        <strong *ngFor="let error of errors">{{error.error}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h2 class="my-3" (click)="onClick($event)">Anonymous Notes</h2>
      <form (submit)="onSubmit($event, noteForm)" #noteForm="ngForm">
        <div class="form-group row">
          <label for="note" class="col-sm-1 col-form-label">Note</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="note" placeholder="Enter note" [(ngModel)]="note.note">
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-success">Add Note</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
