<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars | Home</title>
    <link rel="stylesheet" href="http://localhost:7077/styles/main.css" media="screen" title="no title">
</head>

<body>
    <div>
        <h1>Some cool pictures of different cars</h1>
        <img src="http://localhost:7077/images/bmw.jpeg" alt="">
        <img src="http://localhost:7077/images/Mercedes.jpg" alt="">
        <img src="http://localhost:7077/images/tesla.jpg" alt="">
    </div>
</body>

</html>
