<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:7077/styles/main.css" media="screen" title="no title">
</head>

<body>
    <div id="container">
        <h1>Some cool pictures of different cats</h1>
        <img src="http://localhost:7077/images/cat1.jpeg" alt="">
        <img src="http://localhost:7077/images/cat2.jpeg" alt="">
        <img src="http://localhost:7077/images/cat3.jpeg" alt="">
    </div>
</body>

</html>
