<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:7077/styles/main.css" media="screen" title="no title">
</head>

<body>
    <h1>Add a new car</h1>
    <form>
        Make: <input type="text">
        Model: <input type="text">
        <button type="submit">Add new car</button>
    </form>
</body>

</html>
